
/* Base forms */
@import "../cte/Forms.css";

.contacta{
  position: relative;
  top: 10%;
  bottom: 10%;
  width: 100%;
  height: 600px;
  background-color: #a997df;
}
.contacta .contacta-box{
  position: relative;
  top: 15%;
  width: 60%;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  background-color: #23272a;
  color: #d1d1d1;
}
.contacta .contacta-box h1{
  color: #d1d1d1;
  margin: 0% 15%;
  padding: 25px 0;
}

.contacta .input-group{
  position: relative;
  width: 70%;
  margin: 10px auto 20px;
}

.contacta .btn{
  border: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #2c2f33;
  color: #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
}
.contacta .btn:hover{
  background-color: #373a3d;
  color: #FFF;
}


/* Objetivo -> responsive */
@media screen and (max-width: 800px) {
  .contacta .contacta-box{
    width: 90%;
  }
}
