
/* Home CSS */

.app-container {
  display: block;
  background: rgb(169,151,223);
  background: linear-gradient(0deg, rgba(169,151,223,1) 0%, rgba(235,228,244,1) 33%, rgba(242,237,248,1) 100%);
}

/* Estructuras basicas */
.row{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.column {
  float: left;
}
.col-50{
  width: 50%;
  height: auto;
}
.col-100{
  width: 100%;
  height: auto;
}
.col-rest{
  float: left;
  flex-grow: 1;
  height: auto;
}

/* ------------------- BORRAR ----------------------*/
.wireframe{
  text-align: center;
  font-size: 25px;
}

.wireframe {outline: 2px solid gray;
   background:
      linear-gradient(to top right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px)),
      linear-gradient(to bottom right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px));
}



/* Subdivisiones de HOME */
.col-port {
  width: 60%;
  height: 600px;
  background-color: #a997df;
  overflow: hidden;
}
.col-port .logo-p{
  position: absolute;
  max-height: 450px;
  width: auto;
  margin: 25px 0;
  opacity: 0.2;
}
.col-port img{
  margin-top: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
}
.col-port h2{
  font-size: 30px;
  text-align: center;
  margin: 50px 0 8px;
}
.col-port h1{
  font-size: 40px;
  text-align: center;
  margin: 8px 0;
}

.colorBorrable{
  background: #23272a;
}


/* Objetivo -> responsive */
@media screen and (max-width: 800px) {
  .row, .column{
    display: block;
  }
  .col-port, .col-50, .col-rest{
    width: 100%;
  }
}
