
/* Base forms */
@import "../cte/Forms.css";

.registro{
  width: 100%;
  height: 600px;
  background-color: #a997df;
}

.registro .box h1{
  color: #d1d1d1;
  margin: 0 15%;
  padding: 25px 0;
}

.registro .input-group{
  position: relative;
  width: 70%;
  margin: 10px auto 20px;
}

.registro .box{
  position: relative;
  top: 15%;
  width: 90%;
  height: 60%;
  margin: 0;
  margin-left: auto;
  background-color: #23272a;
}

.registro .btn{
  border: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #2c2f33;
  color: #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
}

.registro .btn:hover{
  background-color: #373a3d;
  color: #FFF;
}
