.form-select {
  border: none;
  border-bottom: solid 4px #660B28 !important;
  box-sizing: content-box;  
  width: 250px;
  height: 20px;
  padding: 20px;  
  border: 50px black ;
  transition: 240ms ease;
  font-size: 15px;
  line-height: 30px;
  color: #FFF;
  background-color: #881238;
}

.form-active {
    border: none;
    border-bottom: solid 4px #660B28 !important;
    box-sizing: content-box;  
    width: 250px;
    height: 20px;
    padding: 20px;  
    border: 50px black ;
    transition: 240ms ease;
    font-size: 10px;
    line-height: 30px;
    color: #FFF;
    background-color: #881238;  
}

.group-form{
    margin: 10px;
}
.card-form {
    margin-left: 110px;
}

.label-active{
    font-size: 8px !important;
    line-height: 10px !important;
    color: #FF8B8B;
}

.input-label .nav-top-item{
    padding: 12px 4px;
    cursor: inherit;
}

.input-label .nav-left-item {
    width: 87%;
    margin: 5px auto;
    border: 0;
}

.button-form{
    margin-left: 100px;
    width: 150px;
    height: 50px;
}