.generator {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #23272a;
    color: #d1d1d1;
  }

.generator-form {
  width: 80%;
  margin: 5px auto 10px;
  height: 20px;
}

.generator-label{
  width: 100%;
  font-size: 18px;
  margin: 40px;
}

.generator-label-car{
  width: 100%;
  font-size: 18px;
  margin-left: 58px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-gen{
  border: 10px;
  width: 7%;
  height: 6%;
  padding: 10px 0;
  background-color: #2c2f33;
  color: #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 70%;
  margin-right: 3%;
}
.newpass .btn-gen:hover{
  background-color: #373a3d;
  color: #FFF;
}