/* Passwords CSS */

.passwords{}
.passwords .row{}
.passwords .row:last-child{
  margin-bottom: 40px;
}

/* Titulo Pág*/
.title {
  margin: 0 5% 15px;
  padding: 0;
  width: 90%;
  height: auto;
}
.title h1 {
  font-size: 2rem;
}
.title hr{
  margin: -10px -2% 0;
  border-width: 3px;
  border-radius: 3px;
  border-color: #2c2f33;
}

/* Barra busqueda */
.busq{
  margin: 0 5%;
  width: 90%;
}
.busq button {
  width: 100%;
  height: 40px;
  margin: 15px 0 5px;
  border: 0;
  border-radius: 10px;
  border-bottom: 4px solid #a997df;
  border-right: 4px solid #a997df;
  color: #d1d1d1;
  background-color: #2c2f33;
  font-size: 18px;
}
.busq span{
  margin: auto 10px auto 0;
}
.busq i{
  margin: auto auto;
  font-size: 0.9em;
}

.busq-bar {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 15px 0 5px;
  background: #2c2f33;
  border: 0;
  border-radius: 10px;
  border-bottom: 4px solid #a997df;
  border-right: 4px solid #a997df;
}
.busq-bar span {
  margin: 8px 12px;
  font-size: 18px;
  color: #d1d1d1;
  background: #2c2f33;
}
.busq-bar input{
  flex-grow: 1;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  color: #d1d1d1;
  background: #2c2f33;
  font-size: 15px;
}
.busq-bar select{
  -moz-appearance: none;
  height: 100%;
  border: none;
  color: #d1d1d1;
  background: #2c2f33;
  font-size: 15px;
}
.busq-bar ::placeholder{
  color: #9c9c9c;
}


/* ACORDEONES */
.accordion {
  width: 90%;
  margin: 20px 5% 0;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  border: 0;
  color: #DDD;
  background-color: #2c2f33;
}

/* +/- */
.accordion:before {
  content: '\25BC';
  color: #DDD;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 15px;
  margin-right: 25px;
}
.active-arc:before {
  content: '\25B2';
}

.panel {
  margin: 0 7%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

/* ContraObj */
.passwords ul{
  padding: 0;
  list-style: none;
}
.passwords li{
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
  max-height: 32px;
  transition: max-height 1s ease;
}

.ctr-title {
  display: flex;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #a997df;
  border-bottom: 4px solid #2c2f33;
}
.ctr-title button{
  padding: 3px 5px;
  flex-grow: 1;
  border: none;
  text-align: left;
  background: transparent;
}
.ctr-title button i{
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.ctr-title span{
  width: 30px;
  margin: auto 2px;
  padding: 4px 5px;
  cursor: pointer;
  font-size: 1.3rem;
}
.ctr-title span:last-child { margin-right: 8px; }

.ctr-body{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #a997df;
  overflow: hidden;
}
.ctr-body .box{
  display: block;
  margin: 20px 20px;
  border: 4px solid #2c2f33;
}
.ctr-body .box h1 {
  position: relative;
  top: -10px;
  width: max-content;
  margin: 0 auto 0 10px;
  padding: 0 4px;
  background-color: #a997df;
  font-size: 16px;
}
.ctr-body .box h2 {
  min-height: 15px;
  margin: -5px 10px 10px;
  font-size: 14px;
  white-space: pre;
  overflow: hidden;
  max-height: 69px;

}
.ctr-body .box h2 input {
  width: 90%;
  font: inherit;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}
.ctr-body .box h2 span {
  padding: 3px;
  cursor: pointer;
  margin-right: 6px;
  margin-left: -24px;
  background-color: #a997df;
}
.ctr-body .cols {
  border: none;
  column-count: 2;
}
.ctr-body .cols .box{
  margin: 0;
  margin-bottom: 4px;
}

@media screen and (max-width: 800px) {
  .ctr-body .cols {
    column-count: 1;
  }
  .ctr-body .cols .box:first-child{
    margin-bottom: 20px;
  }
}
