
/* ABOUT CSS */
.about {
  width: 100%;
  height: 800px;
}
.about .col-1{
  width: 50%;
}
.about .col-2{
  width: 50%;
  min-width: 760px;
}
.about img{
  display: block;
  margin: 30% 16%;
  max-height: 200px;
}
.about h1{
  width: 70%;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 20%;
  font-size: 20px;
  color:#2c2f33;
  text-align: center;
}
.about .col-2 .but {
  height: 150px !important;
  width: 150px !important;
  background-color: transparent;
  border:none;
}
.about span{
  height: 150px !important;
  width: 150px !important;
}
