
/* ABOUT CSS */
.about{}
.about .row {
  margin-top: 10px;
  margin-bottom: 0;
}
.about .row:first-child {
  margin-top: 100px;
  margin-bottom: 30px;
}

.about .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 200px;
  height: auto;
}

.about p{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-size: 20px;
}
.about a{
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.about .links{
  padding: 10px 0;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #23272a;
  color: #d1d1d1;
}
.about .links h1{
  color: #d1d1d1;
  text-align:center;
  font-size: 24px;
}
.about .links p{
  color: #72767b;
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
  vertical-align: middle;
}
.about .links span{
  color: #72767b;
  margin: 0 10px 0 20px;
  vertical-align: middle;
}
.about .links a{
  color: #d1d1d1;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

/* Objetivo -> responsive */
@media screen and (max-width: 800px) {
  .about .logo, .about p{
    max-width: 80%;
  }
  .about .links{
    width: 90%;
  }
}
