
/* Estructuras basicas */
.row{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.column {
  float: left;
}
.col-50{
  width: 50%;
  height: auto;
}
.col-100{
  width: 100%;
  height: auto;
}
.col-rest{
  float: left;
  flex-grow: 1;
  height: auto;
}


/* Passwords CSS */

.passwords{
  background: #a997df;
  height: 1200px;
  width: 100%;
}

.passwords .group{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.passwords .group .pass-box{
  position: relative;
  background: #23272a;
  height: 300px;
  width: 100%;
  margin-top: 50px;
}

.passwords .group .btn{
  position: relative;
  border: 0;
  padding: 10px 0;
  background-color: #2c2f33;
  color: #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin-top: 50px;
}


/* Objetivo -> responsive */
@media screen and (max-width: 800px) {
  .row, .column{
    display: block;
  }
  .col-port, .col-50, .col-rest{
    width: 100%;
  }
}
