
.bienvenido{
  width: 100%;
  height: 600px;
  background-color: #a997df;
}

.bienvenido .box h1{
  color: #d1d1d1;
  margin: auto;
  font-size: calc(1em + 1vw);
  text-align: center;
}

.bienvenido .box{
  position: relative;
  overflow: hidden;
  top: 15%;
  width: 90%;
  height: 60%;
  margin: 0;
  margin-left: auto;
  background-color: #23272a;
}

.bienvenido .box .row{
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  top: 35%;
  margin-bottom: auto;
}

/* Objetivo -> responsive */
@media screen and (max-width: 800px) {

}
