
.bienvenido{
  width: 100%;
  height: 600px;
  background-color: #a997df;
}

.bienvenido .box h1{
  color: #d1d1d1;
  margin: auto;
  font-size: 35px;
  text-align: center;
}

.bienvenido .box{
  position: relative;
  top: 15%;
  width: 90%;
  height: 60%;
  margin: 0;
  margin-left: auto;
  background-color: #23272a;
}

.bienvenido .box .row{
  display:block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  top: 35%;
  margin-bottom: auto;
}
