
/* Home CSS */

/* Subdivisiones de HOME */
.col-port {
  width: 60%;
  height: 600px;
  background-color: #a997df;
  overflow: hidden;
}
.col-port .logo-p{
  position: absolute;
  max-height: 450px;
  width: auto;
  margin: 25px 0;
  opacity: 0.2;
}
.col-port img{
  margin-top: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
}
.col-port h2{
  font-size: 30px;
  text-align: center;
  margin: 50px 0 8px;
}
.col-port h1{
  font-size: 40px;
  text-align: center;
  margin: 8px 0;
}

.colorBorrable{
  background: #23272a;
}


/* Objetivo -> responsive */
@media screen and (max-width: 800px) {
  .col-port{
    width: 100%;
  }
}
