
/* Base Forms */
@import "../cte/Forms.css";

#navbar form button{
  background-color: transparent;
  border: 0;
}
#navbar form a{
  background-color: transparent;
  text-decoration: none;
}
#navbar form span{
  color: #39a5dc;
}

.nav-vertical form{
  margin: 25px 0 50px;
  padding: 25px 0 0;
  border: 1px solid #030303;
  border-right: 0;
  border-left: 0;
}
.nav-vertical input{
  background-color: #373a3d;
}

.input-label .nav-top-item{
  padding: 12px 4px;
  cursor: inherit;
}
.input-label .nav-left-item {
  width: 87%;
  margin: 5px auto;
  border: 0;
}

.nav-left-item input {
  width: 100%;
  padding: 11px 8px 6px 8px;
}
.nav-top-item input{
  width: 150px;
  padding: 11px 8px 6px 8px;
}

.nav-left-item .label-active{
  top: 8px !important;
}
.nav-top-item .label-active{
  top: 18px !important;
}
