

.categorias {
  margin: 5% 5%;
  width: 90%;
}
.categorias ul {
  margin: 0;
  padding: 0;
  columns: 1;
  column-gap: 0;
  list-style: none;
  background-color: transparent;
  /*
  -webkit-columns: 2;
  -moz-columns: 2;*/
}

.categorias .slot {
  display: flex;
  width: 48%;
  margin: 12px 1% 0;
  height: 45px;
  border-radius: 10px;
  text-align: left;
  padding: 3px 0 3px 15px;
  background-color: #a997df;
  color: #2c2f33;
  font-size: 30px !important;
  font-weight: bold;
}
.categorias .slot input{
  background-color: #a997df;
  color: #2c2f33;
  font-weight: bold;
  border: 2px solid #2c2f33;
  height: 30px;
}
.categorias .slot ::placeholder{
  color: #2c2f33;
  margin-left: 10px;
}
.inner {
    float: left;
}
.inner:nth-child(2n+1) {
    clear: left;
}


@media screen and (max-width: 800px) {
  .inner:nth-child(n) {
    clear: left;
  }
  .categorias .slot {
    width: 100%;
  }
  .categorias ul {
    columns: 1;
  }
}

.categorias .title{
  display: inherit;
  width: 100%;
  margin: 0;
  padding-left: 0;
  color: #DDD;
  font-size: 25px;
  text-align: center;
  background-color: #2c2f33;
}

.categorias .slot i{
  margin: auto;
  margin-left: 0;
  font-size: 0.9rem;
}
.categorias .slot span{
  /*flex: right;*/
  width: 30px;
  margin: auto 0;
  padding: 4px 5px;
  text-align: center;
  font-size: 1.3rem;
}
.categorias .slot span:hover{
  cursor: pointer;
}
.categorias .slot span:last-child{
  margin-right: 8px;
}

.categorias .slot input{
  width: 80%;
  margin: auto;
  margin-left: 0;
  border-radius: 5px;
}
